# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Pickle / dataset / model files (optional)
*.pkl

# VSCode / IDE files
.vscode/
*.code-workspace

# Logs / temp
*.log